header {
  background-color: lightslategray;
  padding: 10px;
}

a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
}

a:hover {
  width: 20px;
  height: 1px;
  background-color: linen;
  color: black;
}
