
a:hover {
  background-color:#9C528B
}

#navbar {
  overflow: hidden;
  background-color: #191919;
}

#navbar #left {
  margin-left: 100px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px;
  text-decoration: none;
}

#navbar #right {
  margin-right: 100px;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px;
  text-decoration: none;
}

#navbar #middle {
  color:#f2f2f2;
  text-decoration: none;
}

