<div class="card">
  <img
    src="https://i.guim.co.uk/img/media/3aab8a0699616ac94346c05f667b40844e46322f/0_123_5616_3432/master/5616.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=cdfeb9fcf58f8dd0d5dcb70ec4fb6673"
    alt="John"
    style="width: 100%"
  />
  <h1>This Guy</h1>
  <p class="bio">
    “Software Developer” – An organism that turns caffeine into software
  </p>

  <p>Example University</p>
  <a href="#">LinkedIn</a><br />
  <a href="#">Github</a>
  <div>
    <p id="sklls">Skills:</p>
    <br />
    <p id="lookingFor">Looking For:</p>
  </div>
  <p><button>Contact</button></p>
</div>
